<div id="<%= dom_id blockedsite %>">
  <p>
    <strong>Link:</strong>
    <%= blockedsite.link %>
  </p>

  <p>
    <strong>Durationtype:</strong>
    <%= blockedsite.durationtype %>
  </p>

  <p>
    <strong>Days:</strong>
    <%= blockedsite.days %>
  </p>

  <p>
    <strong>Hours:</strong>
    <%= blockedsite.hours %>
  </p>

  <p>
    <strong>Minutes:</strong>
    <%= blockedsite.minutes %>
  </p>

  <p>
    <strong>Seconds:</strong>
    <%= blockedsite.seconds %>
  </p>

  <p>
    <strong>Duedate:</strong>
    <%= blockedsite.duedate %>
  </p>

</div>

